<% provide(:title, @user.username) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h3>投稿者情報<br>
        <%= @user.username %><br>
        <%= @user.sex %>
        <%= @user.height %>
      </h3>
      <% if @user == current_user %>
        <%= link_to "プロフィール編集",  edit_user_registration_path(@user) %>
      <% end %>
    </section>
    <section class="stats">
      <%= render 'shared/status' %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.posts.any? %>
      <h3>(<%= @user.posts.count %>)</h3>
      <%= paginate @posts %>
      <ul class ="user_post">
        <%= render @posts %>
      </ul>
      <%= paginate @posts %>
    <% end %>
  </div>
</div>