  <div class = "post_feed">
    <li id="post-<%= post.id %>" data-post-id="<%= post.id %>">
    <span class="img">
      <%if post.picture? %>
        商品画像 : <%= image_tag post.picture.url, width: '70px'%>
      <% end %>
    </span>
    <span >
      投稿者情報 : <%= link_to post.user do %>
        <%= post.user.username %> <%= post.user.sex %> <%= post.user.height %>
      <% end %>
    </span><br>
    <span>
      <div id="star-rate-<%= post.id %>">評価 : </div>
      <%= render 'layouts/shim_star_index', post: post %>
    </span>
    <span>
      カテゴリー : <%= post.sex %> <%= post.brand %> <%= post.category %><br>
      商品名 : <%= post.product_name %>
    </span><br>
     <span class="content">
      評価内容 : <%= post.content %>
    </span><br>
    <span>
      投稿時間 : <%= post.created_at.strftime("%Y-%m-%d%H:%M") %>
    </span><br>
    <% if post.user == current_user %>
      <%= link_to "投稿削除" , post, data: { confirm: "本当に削除してよろしいでしょうか?" }, method: :delete %>
    <% end %>
    <% unless current_page?(post_path(post.id)) %>
      <%= link_to "コメント", post_path(post.id) %>
    <% end %>
    </li>
  </div>
